{% load static %}
<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'index' %}">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Bedrijfsnieuws</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'inklokken' %}">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">Inklokken</span>
      </a>
    </li>
  </ul>
</nav>
<!-- partial -->
